// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// custom
$dark: #212121;
$border-dark: #404040;

//grid
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;