// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
// @import 'spinner.scss';
@import 'fonts.scss';
@import 'custom-grid.scss';
@import 'custom-colors.scss';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
    font-family: 'IBMPlexSans';
}

body {
    // box-sizing: border-box;
    height: 100%;
}
main {
    position: relative;
}

.wrapper {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    background-color: $dark;
}

.footer {
    margin-top: auto;
}

.app-grid{
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}
  
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}

//
.custom-border-left {
    border-left: 1px solid $border-dark;
}
.custom-border-bottom {
    border-bottom: 1px solid $border-dark;
}
.h-100percent {
    height: 100%;
}
  

.avatar {
    width: 75px;
    height: 75px;
    overflow: hidden;
  }

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// .pre-scrollable {
    // white-space: pre-wrap;
    // overflow-x:scroll
// }

.code-wrapper {
    overflow: scroll;
    display: grid;
}

.pagination .page-item.active .page-link {
    background-color: #ffca2c !important;
    // color: #000;
}
.pagination .page-item .page-link {
    color: #000;
}